<mat-grid-list cols="3">
    <mat-grid-tile (click)="goTo('users')">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Users</mat-card-title>
                <mat-card-subtitle>For managing purposes</mat-card-subtitle>
            </mat-card-header>
            <div class="icon-container">
                <fa-icon icon="users" size="10x"></fa-icon>
            </div>
            <mat-card-content>
                <p>
                    From here u can do look at your profile and edit stuff if need be
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    
    <mat-grid-tile (click)="goTo('courses')">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Users</mat-card-title>
                <mat-card-subtitle>For managing purposes</mat-card-subtitle>
            </mat-card-header>
            <div class="icon-container">
                <fa-icon icon="torah" size="10x"></fa-icon>
            </div>
            <mat-card-content>
                <p>
                    From here u can do read some couses or post
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    
    <mat-grid-tile (click)="goTo('articles')">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Articles</mat-card-title>
                <mat-card-subtitle>For managing purposes</mat-card-subtitle>
            </mat-card-header>
            <div class="icon-container">
                <fa-icon icon="newspaper" size="10x"></fa-icon>
            </div>
            <mat-card-content>
                <p>
                    From here u can do read some articles or post
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>